.bgFooter {
    background-color: black;
    text-align: center;
    padding: 55px 0 15px 0;
    margin-top: 30px;
}

.logoFooter {
    color: white;
}

.textFooter {
    color: white;

}